body {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 2%;
    margin: 0 auto;
}

header>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    color: white;
    margin: 10px 40%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.input-box {
    display: grid;
    grid-template-columns: 200%;
    margin: 3em 15% 1em 15%;
}

.text-box {
    padding: 5px;
    width: 50%;
    border-style: none;
    border: 1px solid #252525;
    box-shadow: 1px 1px 1px black;
    opacity: 0.5;
    font-size: 20px;
    color: blueviolet;
    font-weight: 500;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.message {
    display: none;
}

.errorMessage {
    display: block;
    font-size: 12px;
    color: red;
}

.content {
    width: 380px;
    height: 350px;
    max-height: 350px;
    background-color: #FFF;
    overflow: auto;
    margin-left: 30%;
}

.content::-webkit-scrollbar {
    display: none;
}

.content ul {
    padding: 0;
    margin: 0;
}

.item,
.item-checked {
    width: 380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.content input {
    position: absolute;
    margin: 0;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 0;
}

.content p,
.item-checked>p {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 20px;
    left: 50px;
    top: 15px;
    background-color: #FFF;
    max-width: 285px;
    cursor: move;
}

.content button {
    position: absolute;
    border: none;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    background-color: rgb(247, 95, 95);
    top: 5px;
    right: 2px;
}

.item-checked>p {
    text-decoration: line-through;
    color: #ccc;
}

.text.dragElem {
    opacity: 0.4;
}

.text.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
}

.lineThrough.dragElem {
    opacity: 0.4;
}

.lineThrough.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
}

@media screen and (max-width: 600px) {
    header>h1 {
        font-size: 16px;
        margin: 10px 40%;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
    }
    .text-box {
        font-size: 14px;
    }
    .content {
        width: 200px;
        height: 300px;
        max-height: 300px;
        background-color: #FFF;
        overflow: auto;
        margin-left: 20%;
    }
    .item {
        width: 200px;
    }
}